<ul>
  <li><%= @user.name %></li>
  <li><a href="#">Tasklist</a></li>
  <li><a href="#">Followings</a></li>
  <li><a href="#">Followers</a></li>
</ul>
<% if logged_in? %>
      <%= link_to 'Users', users_path, class: 'nav-link' %>
      <%= link_to 'My profile', user_path(current_user) %>
      <%= link_to 'Logout', logout_path, method: :delete %>
      
    <% else %>
          <li><%= link_to 'Signup', signup_path%></li>
          <li><%= link_to 'Login', login_path%></li>
    <% end %>